@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@keyframes scaling {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes sliding {
  0% {
    transform: translateX(0);
    color: rgb(210, 216, 214);
  }
  50% {
    transform: translateX(100px);
    color: blue;
  }
  100% {
    transform: translateX(0);
    color: aqua;
  }
}
@keyframes popIn {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

html,
body {
  margin: 0 auto;
  padding: 0;
  font-size: 62.5%;
  scrollbar-width: none;
  overflow-x: hidden;
}
body {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;

  background-color: rgb(227, 226, 226);
  color: black;
  border-right: 1px blue solid;
  border-left: 1px blue solid;
  min-height: 100vh;
  width: 70vw;
}
.loading-overlay {
  position: fixed;
  inset: 0; /* shorthand for top/right/bottom/left: 0 */
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;

  /* hidden state */
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.loading-overlay.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.header {
  width: 100%;
  background-color: skyblue;
  color: blue;
  position: relative;
  z-index: -2;
  border-bottom: 0.1rem solid blue;

  display: flex;
  align-items: center;
  height: 30vh;
  padding: 5rem 0;
  font-size: clamp(2rem, 2vw + 2rem, 8rem);
  font-family: Lobster, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  .icon {
    height: 20rem;
    width: 20rem;
    color: white;
  }
  .headerText {
    transform: scaleY(1.5);
    position: absolute;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .headerIconMain {
    display: flex;
    align-items: center;
  }
  .headIcon {
    color: rgb(255, 232, 124);
    animation: scaling 2.5s infinite linear;
    padding-left: 10rem;
  }
  .headerIcon {
    position: absolute;
    z-index: -1;
    right: 10%;
    top: 0;
    animation: sliding 10s infinite linear;
  }
}

.bodyContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  position: relative;
}
.formGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 50%;

  .location {
    font-size: clamp(2rem, 2vw + 2rem, 5rem);
    color: blue;
    font-family: Lobster;
  }
  input,
  button {
    padding: 1.5rem;
    border-radius: 15px;
    width: 100%;
    background-color: transparent;
    border: 0.1rem solid blue;
    font-size: clamp(0.5rem, 1rem + 0.5vw, 4rem);
  }
  button {
    width: clamp(13rem, 5vw + 5rem, 25rem);
    cursor: pointer;
    background-color: skyblue;
    font-weight: bolder;
    color: white;
  }
}

.weatherContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.1rem solid blue;
  border-radius: 25px;
  width: 50vw;
  margin-bottom: 2rem;
  padding: 1rem 0 5rem 0;
  background-color: white;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.6);
  gap: 0.5rem;
  animation: popIn 0.3s linear;
}
p {
  font-size: clamp(0.5rem, 1vw + 1rem, 4rem);
  font-family: Lobster, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0.5rem;
  margin: 0;
  color: blue;
}
img {
  width: clamp(15rem, 15vw + 10rem, 50rem);
  height: 20rem;
}
.loaderContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.loader {
  width: 40px;
  height: 40px;
  border: 0.8rem solid blue;
  border-top: 0.8rem double blue;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
footer {
  height: 5rem;
  width: 100%;
}

@media (max-width: 600px) {
  body {
    width: 100%;
  }
  .header {
    .icon {
      height: 15rem;
      width: 15rem;
    }
    .headIcon {
      padding-left: 1rem;
    }
    .headerIcon {
      position: absolute;
      z-index: -1;
      right: 10;
      top: 20%;
      animation: sliding 10s infinite linear;
    }
  }
  .formGroup {
    button {
      width: 8rem;
      padding: 1rem;
      border-radius: 8px;
    }
  }
  .weatherContainer {
    width: 70vw;
  }
}
