@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@font-face {
  font-family: "grinched";
  src: url("./asset/Grinched\ 2.0\ DEMO.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.header {
  animation: cloudFloat 10s infinite linear;
}

@keyframes cloudFloat {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(40px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@keyframes scaling {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

html,
body {
  margin: 0 auto;
  padding: 0;
  font-size: 62.5%;
}
body {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-template-rows: repeat(2, 1fr);
  font-size: clamp(0.5rem, 2vw + 2rem, 6rem);
  background-color: transparent;
  min-height: 100vh;
  width: 70vw;
  font-family: "grinched", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  color: white;
}
.backgroundVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-fit: cover;
}
/* .video {
  height: 10rem;
  width: 10rem;
} */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  height: 30vh;
  width: 30vw;
  color: linear-gradient();
  background-image: linear-gradient(rgb(25, 0, 255), rgb(0, 0, 0, 0.2));
  border: 0.1rem solid rgb(255, 255, 255);
  border-radius: 50%;
}

.headerText {
  font-size: 100px;
  text-shadow: 4px 4px 4px #ffffff;
}
.location {
  text-shadow: 4px 4px #ffffff;
  letter-spacing: 0.3rem;
}
.bodyContainer {
  background-image: linear-gradient(rgb(0, 0, 0, 0.2), rgb(25, 0, 255));
  min-width: 70vw;
  max-width: 90vw;
  border-radius: 2.5rem 2.5rem 0 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  border: 0.1rem solid rgb(255, 255, 255);
  min-height: 100vh;
  position: relative;
}
.formGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.weatherContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.1rem solid rgb(255, 255, 255, 0.2);
  border-radius: 25px;
  width: 40vw;
  padding: 1rem;
  margin-bottom: 2rem;
}
p {
  font-size: clamp(0.5rem, 1vw + 1rem, 4rem);
  font-family: "Dancing Script", Pacifico, Lobster, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0.8rem;
  padding: 2rem;
  border: 0.1rem solid rgb(255, 255, 255, 0.2);
  border-radius: 13px;
}
.imgContainer {
  border: 0.1rem solid rgb(255, 255, 255, 0.2);
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
}
img {
  width: 30rem;
  height: 20rem;
}
input,
button {
  padding: 2.5rem;
  width: clamp(20rem, 20vw + 20rem, 100rem);
  border-radius: 2.5rem;
  font-size: clamp(0.5rem, 0.5vw + 1rem, 4rem);
  background: transparent;
  color: white;
  letter-spacing: 0.2rem;
  border: 0.3rem solid rgba(255, 255, 255, 0.2);
}
button {
  width: clamp(13rem, 5vw + 5rem, 25rem);
  padding: 2rem;
  border: 0.1rem solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
button:hover {
  animation: scaling 3s infinite;
  border: 0.1rem solid rgba(255, 255, 255);
}
.loader {
  width: 40px;
  height: 40px;
  /* background-color: ?; */
  border: 0.8rem double yellow;
  border-top: 0.8rem solid yellow;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  position: absolute;
  left: 50%;
  top: 45%;
  display: none;
}
footer {
  height: 5rem;
  background-image: linear-gradient(rgb(25, 0, 255), rgb(0, 0, 0, 0.2));
  width: 70vw;
  border: 0.3rem solid rgb(255, 255, 255);
  border-top: none;
}
